# ========================
# cache
# ========================
REDIS_PASSWORD=

# ========================
# 数据库密码
# ========================
MYSQL_ROOT_PASSWORD=
MONGODB_PASSWORD=
REDIS_PASSWORD=

# ========================
# 消息队列
# ========================
RABBITMQ_PASSWORD=

# ========================
# 对象存储
# ========================
MINIO_SECRET_KEY=

# ========================
# 第三方平台密钥
# ========================
ALIYUN_ACCESS_KEY_ID=
ALIYUN_ACCESS_KEY_SECRET=

ALIPAY_APP_ID=
ALIPAY_PRIVATE_KEY=
ALIPAY_PUBLIC_KEY=

TENCENT_IM_SECRET_KEY=
TENCENT_CLOUD_SECRET_ID=
TENCENT_CLOUD_SECRET_KEY=


# ========================
# OAuth
# ========================
GITEE_CLIENT_ID=
GITEE_CLIENT_SECRET=