# ======================
# Maven & Build
# ======================
HELP.md
target/
build/
.mvn/wrapper/maven-wrapper.jar

# ======================
# IDEs
# ======================

# STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
src/test/java/com/leehuang/his/api/debug/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# ======================
# OS & Others
# ======================
.DS_Store
Thumbs.db
# Logs
logs/
*.log

#.env
.env

keystore.p12
*.p12
*.jks
*.pkcs12
